.footer {
    width: 100%;
    background-color:  #4d4d4d;
    padding: rem(30px) 0;
}

.footer__top {
    display: flex;
    justify-content: space-between;
    padding-bottom: rem(25px);
    border-bottom: rem(2px) solid #666;

    @include tablets {
        flex-direction: column;
        align-items: center;
    }

    @include phones {
        flex-direction: column;
        align-items: center;
    }
}

.footer__left {
    width: 20%;

    @include tablets {
        width: inherit;
    }

    @include phones {
        width: inherit;
    }

}

.footer__logo-link {
    width: 100%;
}

.footer__logo {
    width: 100%;
    height: auto;

    @include tablets {
        max-width: 325px;
        width: inherit;
    }

    @include phones {
        max-width: 325px;
        width: inherit;
    }
}

.footer__policy {
    display: block;
    margin-top: rem(20px);
    font-size: rem(14px);
    color: #fff;

    @include tablets {
        text-align: center;
    }

    @include phones {
        text-align: center;
    }
}

.footer__center {
    @include tablets {
        margin-top: 2rem;
    }

    @include phones {
        margin-top: 2rem;
    }
}

.footer__social-wpap {
    display: flex;
    
    @include phones {
    margin-bottom: 10px;
    }
}

.footer__social-link {
    text-decoration: none;
    width: rem(35px);
    height: rem(35px);
    border: 1px solid #fff;
    border-radius: 50%;
    margin-right: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    cursor: default;
    &:last-child {
        margin-right: 0;
    }

    &:hover {
        color: #ec121f;
        border-color: #ec121f;
    }
}



.footer__header {
    font-family: 'PFD-Rg';
    font-size: rem(18px);
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 18px;
}

.footer__right {
    @include tablets {
        width: 100%;
        text-align: center;
    }
    @include phones {
        width: 100%;
        text-align: center;
    }
}

.footer__phone {
    display: flex;
    align-items: center;
    margin-bottom: rem(14px);

    @include tablets {
        display: inline-block;
    }

    @include phones {
        display: inline-block;
    }
}

.footer__phone-link {
    margin-right: rem(12px);
}

.footer__tel {
    text-decoration:none;
    font-size: rem(22px);
    color: #fff;
    cursor: text;
}

.footer__tel-red {
    color: #e03870;
}

.footer__address {
    text-align: right;
        @include tablets {
        text-align: left;
        display: inline-block;
        }

        @include phones {
            text-align: left;
        display: inline-block;
        }
}

.footer__address-top {
    color: #fff;
    margin-bottom: rem(5px);
}

.footer__address-icon {
    margin-right: rem(5px);
}

.footer__address-bottom {
    color: #fff;
}

.footer__bottom {
    padding-top: rem(27px);
    display: flex;
    justify-content: space-between;
}

.footer__copy {
    font-size: rem(14px);
    color: #fff;
}

.footer__duck {
    font-size: rem(14px);
    color: #fff;

    @include phones {
        width: 50%;
        text-align: right;
    }
}

.footer__duck-link {
    font-size: rem(14px);
    color: #e03870;
}