//function px to rem. -?\d+px ---to rem($0)

@function rem($px) {
    @return $px / 16px + 0rem;
}

// resolutions

$desktop:1200px;
$laptop:992px;
$tablets:768px;
$phones:480px;

// mixins

@mixin desktop {
    @media screen and (max-width:$desktop){
        @content;
    }
}

@mixin laptop {
    @media screen and (max-width:$laptop){
        @content;
    }
}

@mixin tablets {
    @media screen and (max-width:$tablets){
        @content;
    }
}

@mixin phones {
    @media screen and (max-width:$phones){
        @content;
    }
}

// import 

@import "font";
@import "layout";
@import "section-hero";
@import "header";
@import "section-features";
@import "section-popular";
@import "section-present";
@import "section-question";
@import "footer";


